<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenido/a a Uninpahu</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f6f8f1;
      }
      .content {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        color: #6a6d91;
        font-size: 20px;
        letter-spacing: -0.31px;
      }
      .content h1 {
        font-size: 30px;
        letter-spacing: -0.59px;
      }
      .img-container {
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
      }
      .img-container img {
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="img-container">
      <img src="./img/uninpahu.png" alt="Uninpahu" />
    </div>
    <div class="content">
      <h1>Hola Juan Sebastian Arias Robayo</h1>
      <p>
        Bienvenido/a a Uninpahu. Recuerda que la universidad no se hace
        responsable por la pérdida de tus objetos personales. Cuídalos muy bien
        y disfruta de tu estadía.
      </p>
    </div>
  </body>
</html>
