<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenido/a a Uninpahu</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f6f8f1;
      }
      .content {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        color: #6a6d91;
        font-size: 20px;
        letter-spacing: -0.31px;
      }
      .content h1 {
        font-size: 30px;
        letter-spacing: -0.59px;
      }
      .img-container {
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
      }
      .img-container img {
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="img-container">
      <img
        src="https://fasincome.s3.us-east-2.amazonaws.com/Uninpahu.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCICcuYMf2UvL0mk891WSe5RfvHIDC9A7hhPAxiJr%2FnIiUAiEAmDiRZW%2FLibMCM9I8BgX9hPQzNDgDuEVoeu%2FOl9446Tkq7QII%2Bv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwzODc3NDQzNDkxMzQiDEbxUOsRyhGjH2VZ9CrBApQt23yfY%2FKgf6dGcDXiJrgXV9zxwp%2BEkmcPr76XO8VDV1Mz3xEtCBp8Zf%2FT1nfQXcw6eJ%2FGDKiUYcEt95GCX3T%2FPk6RA0cgWJaDbaKe0tcVvA8YHnEHEP3EJ150EhSqDXpKi%2FUA1bz%2FkV33PYgolRb1vu8TRLcZP9yQvjliXd8krydOx1Q3rXfXIGsfBW0DP7IgzYgTh5fEFBewzACuVsNUFw17Rf1glwiXhomQtNfOD%2FC08y65wzw3dUSF4Bh8IUcjCqizFQkVg79Uru6%2BUKW%2F6pMDlKm0mC8F%2FNFibgXuCkdUpQc8kkL6O0NsQUdPEq4q3zt1fFx37pPlNEivf3IQdym1S%2BJJl%2BauAkzkTZ8V1sKar9udPUwqSmbBVyJ9H1UinkIM5KJlKsMhDAeFYHmQNnliFIpG7wkHXpAG5io8LzCc4bqjBjqzAo9Nd9PMpfI4LLM8bFjUOCkVux7Cr77I%2Fv130FV2E3gBtp5zSNYZPltoakZgYv%2BIiXeuUfNG5cY97fmXbzN0tavoGlk7PfV%2Fu%2BwsL0smzvg4pqtJqS6Oo62z9w%2Fz81enxK8LQOjBxV3cPnwNV%2BRQygu8zUwHbqr18yKFozVQm0N9uOS%2FBWFY2HrJyURo1lAcsWkQFG50SYhgWjCjv0gifGi4us9fBLXDWqWTSKfITWuX7ep4RlBMeynFuHCnz15M7hPcOJLrNQ%2B2RU1wCoBaydpmAVnQVguvdx%2BkDRMHhUEmsXy5AezeJt0LuUCKMElC9tcVgmiRKo09w3vFlqvtFys96%2Bx%2BOSdM%2B7qNMLoq%2BV7O9J0lA2zGTHI3MKdd9F7%2FN%2Fj0sIEqaq4hBApYBCN5mlQ2xbc%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230525T010132Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAVUR25HPHINK5Y7P2%2F20230525%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=273396f61af1709ec0fc355e9a9940e6569b8b530031b20177e0aca1cb591f9d"
        alt="Uninpahu"
      />
    </div>
    <div class="content">
      <h1>Hola <%= name %></h1>
      <p>
        Bienvenido/a a Uninpahu. Recuerda que la universidad no se hace
        responsable por la pérdida de tus objetos personales. Cuídalos muy bien
        y disfruta de tu estadía.
      </p>
    </div>
  </body>
</html>
